<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>OTP for user</title>
  </head>
  <body>

    <p>Your OTP is</p>
    <p>otp: "{{otp}}"</p>
	<p>otp will expire in 10 minutes</p>
  </body>
</html>